@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #1f1f1f;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e50914; /* Red */
    border-radius: 6px;
    border: 3px solid #1f1f1f; /* Space around thumb */
}
/* Subtle Text Shadow */
.text-shadow {
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.3);
}
